@import 'exercise.css';

input:focus {
    outline: none;
}

#popup-wrapper {
    overflow: auto;
    z-index: 3;
    background-color: var(--primary);
    position: fixed;
    top: 25%;
    height: 100%;
}

#popup-wrapper::-webkit-scrollbar {
    display: none;
}

#popup-wrapper h2 {
    z-index: 3;
    position: fixed;
    text-align: center;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: var(--primary);
}

#popup-grid {
    padding-top: 17.5%;  
    margin-bottom: 10%;
    background-color: var(--primary);
}

.exercise-gif {
    width: 27.5vw;
    height: 25vw;
}

.exercise-p {
    font-size: 14px;
    margin-top: 5%;
    width: auto;
}

#start {
    z-index: 1;
}

.text-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2vh;
    width: 80%;
    text-align: left;
    height: 100%;
    padding-left: 5%;
}

.text-wrapper p {
    font-size: 1.25em;
    margin: 0;
    font-weight: 900;
}

.duration::before {
    content: "Duration: ";
    color: var(--red);
}

.delete-exercise {
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20%;
    display: none;
}

.delete-exercise i {
    font-size: 2em;
    color: var(--secondary);
}

.grid-container {
    position: relative;
}

.row-grid {
    margin: 0;
}

.row-child {
    height: fit-content;
    width: 95%;
}

.row-child img {
    height: 10vh;
}

.popup-btn {
    position: fixed;
    right: 0.5%;
    bottom: 12.5vh;
    background-color: var(--secondary);
    font-size: 1.75em;
    padding: 3.5%;
    border: 0;
    border-radius: 15px;
    font-weight: 500;
}
