@import 'exercise.css';

/* For Mobile */
input:focus {
    outline: none;
}

#popup-wrapper {
    overflow: auto;
    z-index: 3;
    background-color: var(--primary);
    position: fixed;
    top: 25%;
    height: 100%;
}

#popup-wrapper::-webkit-scrollbar {
    display: none;
}

#popup-wrapper h2 {
    z-index: 3;
    position: fixed;
    text-align: center;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: var(--primary);
}

#popup-grid {
    padding-top: 17.5%;
    margin-bottom: 10%;
    background-color: var(--primary);
}

.exercise-gif,
img {
    width: auto;
    height: 10vh;
    display: flex;
}

.exercise-p {
    font-size: 14px;
    margin-top: 5%;
    width: auto;
}

.text-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.5vh;
    width: 80%;
    text-align: left;
    padding-left: 5%;
}

.text-wrapper p,
.text-wrapper span {
    font-size: 1.25em;
    margin: 0;
    font-weight: 900;
    height: fit-content;
}

.duration::before {
    content: "Duration: ";
    color: var(--red);
}

.icon-container {
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20%;
    display: flex;
}

.icon-container i {
    font-size: 2em;
    color: var(--secondary);
}

.grid-container {
    position: relative;
}

.row-grid {
    margin: 0;
}

.row-child {
    height: fit-content;
    width: 95%;
    display: grid;
    grid-template-columns: 1fr;
}

.row-child:last-child {
    margin-bottom: 20vh;
}

.row-child>div {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#extendable-content {
    display: none;
    height: fit-content;
}

#extendable-content p {
    font-size: 1em;
    text-align: left;
    width: 90%;
    padding-left: 5%;
}

#extendable-content>p:last-child {
    padding-bottom: 2.5%;
}

#extendable-content .instructions-header {
    color: var(--red);
    font-size: 1.25em;
}

#extendable-content>div::before {
    content: "";
    display: block;
    width: 95%;
    height: 1px;
    background-color: var(--secondary);
    margin: 2.5%;
    margin-left: 2.5%;
}

.row-child>div>img {
    height: 10vh;
    width: 30%;
    border: 0;
    border-radius: 5%;
    overflow: hidden;
}

.popup-btn {
    position: fixed;
    right: 5%;
    top: 2.5vh;
    background-color: var(--secondary);
    font-size: 1.75em;
    padding: 3.5%;
    border: 0;
    border-radius: 15px;
    font-weight: 500;
    z-index: 1;
    width: 25vw;
}

#timer {
    font-size: 2.5em;
    font-weight: 700;
    width: max-content;
    justify-self: center;
}

.restDuration {
    font-size: 1.5em;
}

.restDuration::before {
    content: "Rest Time: ";
    color: var(--red);
}

.restTime {
    display: grid;
    grid-template-columns: 1fr;
}

.restTime>div {
    display: flex;
    height: 5vh;
}

.restTime i {
    width: 20%;
}

.restTime h2 {
    width: 60%;
}

.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 100%;
}

#pause {
    display: none;
}

/* For PC */

@media (min-width: 768px) {

    .row-grid::-webkit-scrollbar {
        display: none;
    }

    #start {
        padding: 1.25%;
    }

    .exercise-p {
        margin-top: 2.5%;
    }

    #popup-wrapper h2 {
        padding-top: 2.5%;
        padding-bottom: 2.5%;
        background-color: var(--primary);
    }

    #popup-grid {
        padding-top: 7.5%;
        margin-bottom: 17.5%;
        background-color: var(--primary);
    }
}