@import 'exercise.css';

input:focus {
    outline: none;
}

#popup-wrapper {
    overflow: auto;
    z-index: 3;
    background-color: var(--primary);
    position: fixed;
    top: 25%;
    height: 100%;
}

#popup-wrapper::-webkit-scrollbar {
    display: none;
}

#popup-wrapper h2 {
    z-index: 3;
    position: fixed;
    text-align: center;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: var(--primary);
}

#popup-grid {
    padding-top: 17.5%;  
    margin-bottom: 10%;
    background-color: var(--primary);
}

.exercise-gif {
    width: 27.5vw;
    height: 25vw;
}

.exercise-p {
    font-size: 14px;
    margin-top: 5%;
    width: auto;
}

.popup-msg {
    width: 100%;
    text-align: center;
    z-index: 4;
    position: fixed;
    bottom: -6.5%;
    padding-bottom: 5%;
    padding-top: 2.5%;
    background-color: var(--green);
}

.popup-msg p {
    background-color: var(--green);
    font-size: large;
    font-weight: 700;
}

#start {
    z-index: 1;
}

.text-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2vh;
    width: 100%;
    text-align: left;
}

.duration {
    margin-bottom: 5px;
}

.duration::before {
    content: "Duration: ";
    color: var(--red);
}

.delete-exercise {
    position: absolute;
    right: 5%;
}

.delete-exercise i {
    color: var(--secondary);
}

.grid-container {
    position: relative;
}

.row-grid {
    margin: 0;
}

.row-child {
    height: fit-content;
    width: 95%;
}

.row-child img {
    height: 10vh;
}

.row-child p {
    margin-left: 10%;
    font-weight: 900;
    font-size: larger;
}
