@import 'index.css';

* {
    overflow: visible;
}

h1 {
    padding: 0;
    padding-left: 2%;
    font-size: 2em;
}

a {
    padding-left: 2%;
    text-decoration: none;
    font-weight: bold;
}

#nav {
    display: flex;
    background-color: var(--primary);
    width: 100vw;
    align-items: center;
    height: 12.5vh;
    position: fixed;
    z-index: 2;
}

.nav-btn {
    font-size: 50px;
    background-color: var(--primary);
}

.exercise-content {
    padding-top: 12.5vh;
    padding-bottom: 2.5vh;
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.exercise-content::-webkit-scrollbar {
    display: none;
}

.exercise-gif {
    margin-top: 5%;
    width: 75vw;
    height: auto;
}

#body-part {
    font-size: large;
    font-weight: 700;
    margin-top: 1vh;
    width: 80%;
    height: fit-content;
    text-align: center;
}

#body-part::before {
    content: "Body Part: ";
    color: var(--red);
}

#instruction-list {
    margin-top: 2vh;
    padding: 2vh 3vw;
    border: 2px solid var(--secondary);
    border-radius: 6%;
}

#instruction-header {
    font-size: xx-large;
    font-weight: 900;
    color: var(--secondary);
    text-align: center;
    width: 100%;
}

.exercise-p {
    font-size: 20px;
    width: 75vw;
}